# Ignore Python virtual env
.venv/

# dbt build artifacts and logs
target/
logs/
dbt_packages/

# Sensitive files and secrets folder
secrets/
*.pem
*.key
.env
profiles.yml

# Ignore locally-created backups of nested repo
dbt_project.backup-*/

# If the nested `dbt_project` folder is an independent repo, don't track it in the parent
dbt_project/
